.dark-theme body {
  color: hsl(0deg, 0%, 96%);
  background-color: #232323;
}
.dark-theme h1 {
  color: #3bc9db;
}
.dark-theme a {
  color: hsl(0deg, 0%, 96%);
}

.light-theme body {
  color: #121212;
  background-color: hsl(0deg, 0%, 96%);
}
.light-theme h1 {
  color: hsl(322deg, 100%, 50%);
}
.light-theme a {
  color: #121212;
}

body {
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-out;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 2em 0;
}
header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.nav-menu-list {
  display: flex;
}
.nav-menu-list a {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 300;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Hide the default checkbox */
#toggle-switch input {
  display: none;
}
#toggle-switch:hover {
  cursor: pointer;
}

/* Style the slider */
.slider {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background-color: #3bc9db;
}

/* Style the slider's thumb */
.slider::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Style the slider when it's checked */
input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

.hamburger rect {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}
.hamburger[aria-expanded=true] rect {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}
.hamburger[aria-expanded=true] rect:not(:nth-child(2)) {
  y: 45px;
}
.hamburger[aria-expanded=true] rect:nth-child(1) {
  rotate: 45deg;
}
.hamburger[aria-expanded=true] rect:nth-child(2) {
  opacity: 0;
}
.hamburger[aria-expanded=true] rect:nth-child(3) {
  rotate: -45deg;
}

.dark-theme .hamburger svg {
  background: transparent;
  fill: #3bc9db;
}

.light-theme .hamburger svg {
  background: transparent;
  fill: hsl(322deg, 100%, 50%);
}