// As of Dart Sass 2.0.0, !global assignments won't be able to declare new variables.
// Recommendation: add `$theme-map: null` at the stylesheet root.
$theme-map: null;

// Define theme colors
$pink-color: hsl(322, 100%, 50%);
$blue-color: #3bc9db;
$yellow-color: #ffbd07;

$white-color: hsl(0, 0%, 96%);
$gray-color: #ccc;

$black-text: #121212;
$black-bg: #232323;


$nav-bg-color: #3700B3;

// Define theme maps
$themes: (
	dark: (
		background: $black-bg,
		text: $white-color,
		bg_secondary: lighten($black-bg, 10),
        text_secondary: $blue-color,
        button: $blue-color,
        nav: $blue-color,
	),
	light: (
		background: $white-color,
		text: $black-text,
		bg_secondary: $gray-color,
		text_secondary: $pink-color,
        button: $pink-color,
        nav: $nav-bg-color,
	),
);

@mixin themed($themes) {
	@each $theme, $values in $themes {
		.#{$theme}-theme {
			$theme-map: $values !global;
			@content;
		}
	}
}
@function theme($key) {
	@return map-get($theme-map, $key);
}

@include themed($themes) {
	body {
		color: theme("text");
		background-color: theme("background");
	}
	button {
		background-color: theme("background");
		color: theme("text");
	}
	h1 {
		color: theme("text_secondary");
	}
    a {
        color: theme("text")
    }
} ;
