// Define theme colors
$pink-color: hsl(322, 100%, 50%);
$blue-color: #3bc9db;
$white-color: hsl(0, 0%, 96%);
$black-color: hsl(0, 0%, 7%);

// Define theme maps
$themes: (
	dark: (
		background: $black-color,
		text: $white-color,
	),
	light: (
		background: $white-color,
		text: $pink-color,
	),
);

// Mixin to apply theme colors
@mixin apply-theme($theme) {
	background-color: map-get(map-get($themes, $theme), background);
	color: map-get(map-get($themes, $theme), text);
}

// Function to return a specific theme color
@function theme-color($theme, $color) {
	@return map-get(map-get($themes, $theme), $color);
}

// Define theme classes
.dark-theme {
	@include apply-theme(dark);

	button {
		color: theme-color(dark, text);
	}
}

.light-theme {
	@include apply-theme(light);
}
