:root {
	--clr-light: #fdffc4;
	--clr-dark: #00332a;
	--clr-primary: #dbffa2;
	--clr-secondary: #c3fcf2;
	--clr-accent: #ff7750;
  
	--foreground: var(--clr-dark);
	--background: var(--clr-light);
  
	--ff-title: "Playfair Display", serif;
	--ff-body: "Assistant", sans-serif;
  }
  
  .darkmode {
	--clr-light: #202302;
	--clr-secondary: #00100d;
	--clr-accent: #ff7750;
  
	--foreground: var(--clr-light);
	--background: var(--clr-dark);
  }
  
  
  body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--ff-body);
	font-size: 18px;
	line-height: 1.6;
  }
  
  h1 {
	font-size: calc(3rem + 7vw);
	font-family: var(--ff-title);
	padding-top: 20vh;
	margin: 0 0 0.25em;
	line-height: 1;
  }
  @media (prefers-color-scheme: dark) {
	/* defaults to dark theme */
	body {
	  --text-color: #eee;
	  --bkg-color: #121212;
	}
	body.light-theme {
	  --text-color: #222;
	  --bkg-color: #fff;
	}
  }
  
  * {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
	background: var(--bkg-color);
  }
  
  h1,
  p {
	color: var(--text-color);
  }
  


/* START HERE   */
/* START HERE   */
/* START HERE   */
  /* Default light theme styles */
body {
    background-color: white;
    color: black;
  }
  
  /* Dark theme styles */
  .dark-theme {
    background-color: black;
    color: white;
  }
  
  /* Light theme button color */
  .light-theme .box {
    background-color: pink;
    height: 50px;
    width: 50px;
  }
  
  /* Dark theme button color */
  .dark-theme .box {
    background-color: red;
    height: 50px;
    width: 50px;
  }


  .dark-theme #toggle-btn {
    color: purple;
  }