header {
	padding: 2em 0;

	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
	}
}
.nav-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}
.nav-menu-list {
	display: flex;
	a {
		padding: 10px 20px;
		border-radius: 10px;
        font-weight: 300;
	}
}
@include themed($themes) {
	.nav-menu-list {
		a {
			// background-color: theme("bg_secondary");
			// color: theme("text");
		}
	}
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


// THEME TOGGLE SWITCH
/* Hide the default checkbox */
#toggle-switch {
	input {
		display: none;
	}
    &:hover {
        cursor: pointer;
    }
}
/* Style the slider */
$slider-width: 50px;
$slider-height: 25px;

.slider {
	position: relative;
	display: block;
	width: $slider-width;
	height: $slider-height;
	border-radius: $slider-width;
	background-color: $blue-color;
}
/* Style the slider's thumb */
$thumb-gap: 2px;
.slider::before {
	position: absolute;
	content: "";
	width: calc($slider-height - (2 * $thumb-gap));
	height: calc($slider-height - (2 * $thumb-gap));
	border-radius: 50%;
	background-color: white;
	top: $thumb-gap;
	left: $thumb-gap;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 01.55);
}
/* Style the slider when it's checked */
input:checked + .slider {
	background-color: $gray-color;
}
input:checked + .slider::before {
	transform: translateX($slider-height);
}


// Hamburger 
.hamburger {
    rect {
        transition: 
            y 300ms ease-in 300ms,
            rotate 300ms ease-in,
            opacity 0ms 300ms,
        ;
        transform-origin: center;
    }
    &[aria-expanded="true"] {
        rect {
            transition: 
                y 300ms ease-in,
                rotate 300ms ease-in 300ms,
                opacity 0ms 300ms,
            ;
            // transform-origin: center;

            &:not(:nth-child(2)) {
                y: 45px;
            }
            &:nth-child(1) {
                rotate: 45deg;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                rotate: -45deg;
            }
        }
    }
}
@include themed($themes) {
	.hamburger svg {
        background: transparent;
        fill: theme("button");
    }
}