header {
	padding: 2em 0;

	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
	}
}
.nav-menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}
.nav-menu-list {
	display: flex;
	a {
		padding: 10px 20px;
		border-radius: 10px;
	}
}
@include themed($themes) {
	.nav-menu-list {
		a {
			background-color: theme("secondary_bg");
			color: theme("text");
		}
	}
}

// THEME TOGGLE SWITCH
/* Hide the default checkbox */
#toggle-switch {
	display: flex;
	input {
		display: none;
	}
}
/* Style the slider */
$slider-width: 50px;
$slider-height: 25px;

.slider {
	position: relative;
	display: inline-block;
	width: $slider-width;
	height: $slider-height;
	border-radius: $slider-width;
	background-color: $blue-color;
}
/* Style the slider's thumb */
$thumb-gap: 2px;
.slider::before {
	position: absolute;
	content: "";
	width: calc($slider-height - (2 * $thumb-gap));
	height: calc($slider-height - (2 * $thumb-gap));
	border-radius: 50%;
	background-color: white;
	top: $thumb-gap;
	left: $thumb-gap;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 01.55);
}
/* Style the slider when it's checked */
input:checked + .slider {
	background-color: #ccc;
}
input:checked + .slider::before {
	transform: translateX($slider-height);
}
